p {
    text-align: justify;
    font-size: 1em*0.875;
    margin-left: 30%;
    margin-right: auto;
    width: 40%;
    font-family: sans-serif;
}

h2 {
    /* margin-top: 50%; */
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    margin-bottom: 2%;
    font-size: 2em;
}

il {
    background-color: #f8f9fa;
    position: absolute;
    top: 150px;
    float: left;
    margin-right: auto;
    width: justify;
    font-family: sans-serif;
    font-size: 0.75em;
    line-height: 1.12;
}

ul {
    list-style-type: none;
    background-color: #f8f9fa;
    position: absolute;
    top: 200px;
    font-family: sans-serif;
    font-size: 0.75em;
    line-height: 2.05;
    margin-left: 80%;
    margin-right: 0%;
}

details {
    visibility: hidden;
}

imgz {
    position: absolute;
    width: 200px;
    margin-top: -30%;
    margin-bottom: 20%;
    margin-left: 80%;

}

input {
    text-align: center;
    position: absolute;
    margin-left: 25%;
    /* margin-top: 0%; */
    width: 40%;
}