p {
    text-align: justify;
    font-size: 1em*0.875;
    margin-left: 30%;
    margin-right: auto;
    width: 40%;
    font-family: sans-serif;
}

h2 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    margin-bottom: 2%;
    font-size: 2em;
}

ul {
    background-color: #f8f9fa;
    position: fixed;
    top: 150px;
    margin-right: auto;
    width: justify;
    font-family: sans-serif;
    font-size: 0.75em;
    line-height: 1.12;
}

details {
    visibility: hidden;
}

img {
    position: absolute;
    width: 100px;
    height: 120px;
}

input {
    text-align: center;
    position: absolute;
    margin-left: 25%;
    width: 40%;
}