.conteudo {
    /* text-align: justify;
    font-size: 1em*0.875;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-family: sans-serif; */
}

h1 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    margin-bottom: 2%;
    margin-top: 18%;
    font-size: 2em;
}

ul {
    background-color: #f8f9fa;
    /* position: fixed;
    top: 150px;
    margin-right: auto;
    width: 20%;
    font-family: sans-serif;
    font-size: 0.75em;
    line-height: 1.12; */
}

details {
    visibility: hidden;
}

img {
    position: absolute;
}

input {
    text-align: center;
    position: absolute;
    margin-left: 25%;
    width: 40%;
}

#cg {
    min-width: 500px;
    width: 80%;
    max-width: 1200px;
    height: 500px;
    display: flex;
}

.ml {
    width: 25%;
}